


/* COMMON CLASS E UTILITY CLASS*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fa-check-circle{
  color: #FD6357;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.font{
font-family: 'Montserrat', sans-serif;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

header li{
  display: inline-block;
  padding-right: 20px;

}
.navbar-top li img{
  vertical-align: middle;
  width: 20px
}

a{
  text-decoration: none;
  color: #324453;
}

.navbar{
  height: 80px;
  line-height: 80px;
}

ul{
  list-style-type: none;
}

h1{
font-weight: 600;
font-size: 50px;
}
.button1{
  color: #FD6357;
  border: 1px solid #FD6357;
  padding: 10px 10px;
  border-radius: 5px;

}

.button2{
  color: white;
  background-color: #FD6357;
  padding: 10px 10px;
  border-radius: 5px;
}

h2{
  font-size: 40px;
  color: #2D3E4F;
}

.weight{
  font-weight: 300;

}

/* END COMMON CLASS E UTILY CLASS*/
.navbar-top-cont{
  border-bottom: 2px solid #999;
  background-color: #F2F8FC;
}

.menu1{
padding-left: 15px;
}


.menu2{
  padding-right: 15px;
}

.navbar-bottom .menu1{
  margin-top: 5px;
}

.jumbotron-cont{
  width: 100%;
  height:900px;
  background-color: red;
  background-image: url("../img/jumbotron.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
}

.jumbotron{
  padding-top: 150px;
}

.jumbotron > p:nth-child(2){
padding-top:50px;

}

.jumbotron > p:nth-child(3){
  padding-top:50px;
}

.jumbotron > p:nth-child(4){
  font-size: 12px;
  padding-top:50px;
}





/* inizio main */


main{
  background-color: #F2F8FC;
}


/* inizio boc cubo*/

.cube-content{
  width: 800px;
  margin: 0 auto;
  padding-top:50px;
  text-align: center;
}

.cube-content h2{
  margin:0 auto;
  padding: 20px;
}




/* inizio box FREE HUB*/


.learnmore{
  text-align: center;
  width: 30%;
  height: 300px;
  padding-top: 75px;

}

.freehub{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 70%;
  height: 300px;
}

.middle-cont{
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 0 11px #ccc;
  border-radius: 10px;

}

.learnmore div {
  font-size: 20px;
}

.learnmore img{
  width: 150px;
  padding-bottom: 30px;
}

.freehub h3{
  color: #2D3E4F;
  font-size: 25px;
}

.freehub > p{
  padding-top: 30px;
  width: 80%;
}

.freehub-popolar{
  font-weight: bold;
  width: 33%;

}


.freehub .row{
  margin-top: 30px;

}

.freehub .fl:nth-child(2){
  width: 50%;
  padding-top: 10px;
}

.freehub li{
  display: inline-block;
  padding-right: 15px;
}

.freehub div:nth-child(4){
  padding-top: 30px

}

.freehub li i{
  color: #FD6357;
  padding-right: 15px;
}


/* inizio triple boxes*/

.hubs-cont {
  margin-top: 50px;
  color: #2D3E4F;
  padding-bottom: 50px;
}



.box-hub{
  text-align: center;
  width: 33.333%;
  height: 550px;
}

.box-hub-content{
  width: 100%;
  height: 550px;
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 11px #ccc;
}


.box-hub-1{
  padding-right:60px;
}

.box-hub-2{
  padding-left: 30px;
  padding-right:30px;
}

.box-hub-3{
  padding-left: 60px;
}


.box-hub-content p:nth-child(3){
  padding-top: 30px;
}

.box-hub-content p:nth-child(4){
  margin-top: 50px;
  padding-top: 30px;
  font-weight: bold;
  border-top: 1px solid;

}

.box-hub-content ul{
  text-align: left;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 60px;
}

.box-hub-content ul span{
    padding-left:  15px;
}

/* inizio infografica*/

.infografica-bg{
  background-image: linear-gradient(to right, #0F9EB0, #11B59F );
}

.infografica-container{
  /*   height: 800px;  */

}

.infografica-text{
  margin: 0 auto;
  padding-top: 50px;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}
.infografica-text h2{
  font-size: 30px;
  color: white;
}

.infografica-text p{
  width: 1200px;
  padding-top: 50px;
  font-size: 15px;
}

.info-box{
  line-height: 50px;
  padding-top: 30px;
  color: white;
  text-align: center;
  width: 25%;
  height: 200px;
  /*   border: 1px solid white;  */

}

h4{
  font-weight: bold;
  font-size: 40px;
}

.info-box p{
  font-size: 12px;
}
.infografica div:first-child{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.infografica div:nth-child(2){
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.infografica div:nth-child(3){
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.infografica div:nth-child(4){
  border-bottom: 1px solid white;
}
.infografica div:nth-child(5){
  border-right: 1px solid white;
}
.infografica div:nth-child(6){
  border-right: 1px solid white;
}
.infografica div:nth-child(7){
  border-right: 1px solid white;
}
